.container-1 {
  padding-top: 5%;
  font-family: "Poppins", sans-serif;
}

.container-akhir {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

.container-books {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
  padding-top: 3%;
}

.books {
  width: 250px;
  background-color: #bcc3bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
}

.img {
  width: 220px;
  height: 300px;
}

.img img {
  width: 100%;
  height: 100%;
}

.content {
  height: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.content h5 {
  font-size: 16px;
}

.content p {
  text-align: left;
  height: 330px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
